<ul class="[if_has_child dropdown-menu]">
    <li class="menu-item-[child_index] menu-item-level-[level] [if_has_child dropdown]">
        <a class="[if_has_child dropdown-toggle]" href="[url]" [if_has_child data-toggle="dropdown"]>[title][if_has_child <span class="caret"></span>][if_level_2 <span>{menu.}</span>]</a>
    </li>
</ul>