<%#= javascript_include_tag plugin_asset("my_file.js") %>
<div class="card card-default">
    <div class="card-header">
        <h4>My Title</h4>
    </div>
    <div class="card-body">
        <p>Plugin ready to use in admin panel!.</p>
    </div>
</div>