<%#= javascript_include_tag plugin_asset("my_file.js") %>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>My Title</h4>
    </div>
    <div class="panel-body">
        <p>Plugin ready to use in admin panel!.</p>
    </div>
</div>