# see spec/dummy/.gitignore for ignored files relating to the dummy app.
/.idea
/.byebug_history
Gemfile.lock
**/.DS_Store
.DS_Store
*~
.~*
spec/support/fixtures/rails_tmp.png
*.gem
.tool-versions
node_modules
