<div id="modal_elfinder" style="font-size: 14px">
  <div id="content_filemanager"></div>
</div>
<style>
    #content_filemanager .elfinder-cwd * {
        font-size: 11px;
    }

    #content_filemanager .row {
        margin: 0;
    }
</style>
<script>
    var options = <%= raw params.except(:controller, :action).to_json %>;
    var root_url = '<%= cama_root_url %>';
    var root_filesystem_public_url = '<%= root_filesystem_public_url %>';
    String.prototype.to_url = function () {
        return root_url.slice(0, root_url.length - 1) + this;
    };
    String.prototype.to_filesystem_public_url = function () {
        return root_filesystem_public_url + this;
    };
    jQuery(function () {
        if (window.parent.onload_modal_elfinder) window.parent.onload_modal_elfinder();
        var default_options = {type: "all", multiple: 'false', mode: 'basic'};
        options = $.extend(default_options, options);
        options.multiple = options.multiple == 'true';
        options.selected = function (s) {
            if (window.parent.callback_modal_elfinder) {
                window.parent.callback_modal_elfinder(s);
            }
        };
        $.fn.upload_filemanager(options);
    })
</script>