<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><span class="fa fa-picture-o"></span> <%= t('camaleon_cms.admin.sidebar.media')%></h4>
        </div>
        <div class="panel-body">
            <div id='elfinder'></div>
        </div>
    </div>
</div>

<script>
    jQuery(function(){
        $('#elfinder').upload_elfinder({mode: 'full'});
        $('.elfinder-button').tooltip();
    })

</script>