<% msgs = defined?(key) ? (flash[key.to_s] || {}).with_indifferent_access : flash %>
<% if msgs[:notice].present? || msgs[:info].present? || msgs[:error].present? || msgs[:alert].present? %>
    <div class="cama_flash_messages">
        <% if msgs[:info].present? %>
            <div class="flash_messages">
              <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <%= raw(msgs[:info]) %>
              </div>
            </div>
        <% end %>

        <% if msgs[:notice].present? %>
            <div class="flash_messages">
              <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <%= raw(msgs[:notice]) %>
              </div>
            </div>
        <% end %>

        <% if msgs[:error].present? %>
            <div class="flash_messages">
              <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <%= raw(msgs[:error]) %>
              </div>
            </div>
        <% end %>

        <% if msgs[:alert].present? %>
            <div class="flash_messages">
              <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <%= raw(msgs[:alert]) %>
              </div>
            </div>
        <% end %>
    </div>
<% end %>