<footer>
    <div class="row">
        <div class="col-lg-12">

            <ul class="list-inline">
                <li class="pull-right"><a href="#top">Back to top</a></li>
                <li><a href="http://feeds.feedburner.com/bootswatch">RSS</a></li>
                <li><a href="https://twitter.com/bootswatch">Twitter</a></li>
                <li><a href="https://github.com/thomaspark/bootswatch/">GitHub</a></li>
                <li><a href="../help/#api">API</a></li>
                <li><a href="../help/#support">Support</a></li>
            </ul>

        </div>
    </div>

</footer>