<div class="card card-default">
  <div class="card-header">
    <h3 class="card-title">Settings</h3>
    <ul class="panel-controls">
      <!--<li><a href="#" class="panel-fullscreen"><span class="fas fa-expand"></span></a></li>-->
      <li><a href="#" class="panel-collapse"><span class="fas fa-angle-down"></span></a></li>
    </ul>
  </div>
  <div class="card-body">
    Content settings
  </div>
  <div class="card-footer">
    <button class="btn btn-primary float-right">Send</button>
  </div>
</div>