<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Settings</h3>
    <ul class="panel-controls">
      <!--<li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>-->
      <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
    </ul>
  </div>
  <div class="panel-body">
    Content settings
  </div>
  <div class="panel-footer">
    <button class="btn btn-primary pull-right">Send</button>
  </div>
</div>