<div class="page-content-wrap">
  <div class="row">
    <div class="col-md-12">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= t('admin.sidebar.dashboard') %></h3>
        </div>
        <div class="panel-body" style="min-height: 350px">
            <h1><%= t('admin.message.welcome') %></h1>
        </div>
      </div>
    </div>
  </div>
</div>
