<div class="card card-post custom-template card-default">
    <div class="card-header text-center"><%= raw @post.the_title.upcase %></div>
    <div class="card-body">
        <%= raw @post.the_content %>
    </div>
</div>