<div class="panel panel-post custom-template panel-default">
    <div class="panel-heading text-center"><%= raw @post.the_title.upcase %></div>
    <div class="panel-body">
        <%= raw @post.the_content %>
    </div>
</div>