<div class="page-content-wrap">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading ui-draggable-handle">
          <h4><%= @category.id.present? ? t('camaleon_cms.admin.post_type.edit_category') : t('camaleon_cms.admin.post_type.add_category') %></h4>
        </div>
          <%= render partial: 'form' %>
      </div>

    </div>
  </div>
  <!-- END PAGE CONTENT WRAPPER -->
</div>
