<div class="page-content-wrap">
  <div class="row">
    <div class="col-md-12">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Forms</h3>
        </div>
        <div class="panel-body" style="min-height: 350px">
            <h2> Donwload Forms: </h2> 
            <h3><%= link_to 'Materials Management Forms',download_form_path(form: 'materials') %></h3>
            <h3><%= link_to 'Nutritions & Food Forms',download_form_path(form: 'nutritions') %></h3>
            <h3><%= link_to 'Pharmacy - Change of Product Form',download_form_path(form: 'pharmacy') %></h3>
            <% r = {content: ""}; hooks_run("on_notification", r); %>
            <div id="dashboard_notifications">
                <%= raw r[:content] %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
