<div data-ng-app="FileManagerApp">
  <div id="filemanager-container" ng-controller="FileManagerController">
    <div ng-include="filemanager_container_url" onload="loadConfiguration()"></div>
  </div>
</div>

<script>
    angular.module('FileManagerApp').controller('FileManagerController', ['$scope', 'fileManagerConfig', function ($scope, fileManagerConfig) {
        console.log('init');
        $scope.filemanager_container_url = '';
        $scope.include = function (new_url) {
            console.log('include: ' + new_url);
            $scope.filemanager_container_url = new_url;
            $scope.$apply();
        };

        setDefaultConfig = function () {
            fileManagerConfig.appName = 'Camaleon-cms';
            fileManagerConfig.listUrl = '/admin/filemanager/handler';
            fileManagerConfig.uploadUrl = '/admin/filemanager/upload';
            fileManagerConfig.renameUrl = '/admin/filemanager/handler';
            fileManagerConfig.copyUrl = '/admin/filemanager/handler';
            fileManagerConfig.removeUrl = '/admin/filemanager/handler';
            fileManagerConfig.editUrl = '/admin/filemanager/handler';
            fileManagerConfig.getContentUrl = '/admin/filemanager/handler';
            fileManagerConfig.createFolderUrl = '/admin/filemanager/handler';
            fileManagerConfig.downloadFileUrl = '/admin/filemanager/download';
            fileManagerConfig.compressUrl = '/admin/filemanager/handler';
            fileManagerConfig.extractUrl = '/admin/filemanager/handler';
            fileManagerConfig.permissionsUrl = '/admin/filemanager/handler';
            fileManagerConfig.tplPath = '/admin/filemanager/templates';
            fileManagerConfig.eventDispatcher = $.fn.upload_filemanager_dispatcher;
        };

        $scope.loadConfiguration = function () {
            setDefaultConfig();
            $.extend(fileManagerConfig, $scope.config);
        };
    }]);
</script>