<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.x <%#= CamaleonCms::VERSION %>
    </div>
    <strong>Copyright &copy; 2015-2016 <a href="http://camaleon.tuzitio.com">Camaleon CMS.</a> </strong> All rights reserved.
</footer>