<ul class="x-navigation">
  <li class="xn-logo">
    <a href="<%= admin_url %>" title="Visit"><%= image_tag(current_site.the_logo, style: "max-height: 100%; max-width: 100%;") %></a>
    <a href="#" class="x-navigation-control"></a>
  </li>

  <li class="xn-title"><%= t('admin.sidebar.navigation')%></li>

  <%= raw _admin_menu_draw %>

</ul>
