<div class="btn-group">
  <% @btns.each do |status, value| %>
        <%= link_to "#{value}", {action: :index, s: status, q: params[:q] }, class: "btn cama_ajax_request #{ status.to_s == params[:s] ? "btn-info" : "btn-default" }" %>
  <% end  %>
</div>