<div class="btn-group">
  <% @btns.each do |status, value| %>
        <%= link_to "#{value}", {action: :index, s: status, q: params[:q] }, class: "btn btn-default #{ "btn-info" if status.to_s == params[:s] }" %>
  <% end  %>
</div>