<div class="group-input-fields-content" data-callback-render="custom_field_checkbox_val">
  <div class="checkbox">
    <label>
      <input type="checkbox" value="1" name="<%= field_name %>[<%= field.slug %>][values][]">
      <%= field.the_name %>
    </label>
  </div>
</div>
