<% add_asset_library('colorpicker') %>
<div class="group-input-fields-content" data-callback-render="custom_field_colorpicker_val" style="max-width: 300px;">
  <div data-color-format="<%= field.options[:color_format].present? ? field.options[:color_format] : 'hex' %>" data-color="#fff" class="input-group color my-colorpicker">
    <input  type="text" name="<%= field_name %>[<%= field.slug %>][values][]" class="data-error-place-parent form-control input-value <%= "required" if field.options[:required].to_s.to_bool %>" />
    <span class="input-group-addon"><i></i></span>
  </div>
</div>
