<div class="group-input-fields-content">
  <input type="number" name="<%= field_name %>[<%= field.slug %>][values][]" class="form-control input-value number <%= "required" if field.options[:required].to_s.to_bool %>" />
</div>

