<div class="group-input-fields-content" data-callback-render="custom_field_text_box">
    <input type="text" name="<%= field_name %>[<%= field.slug %>][values][]" class="form-control input-value <%= 'is_translate' if field.options[:translate].to_s.to_bool %> <%= "required" if field.options[:required].to_s.to_bool %>"  />
</div>
