<div class="group-input-fields-content">
  <input type="url" name="<%= field_name %>[<%= field.slug %>][values][]" class="form-control url input-value <%= "required" if field.options[:required].to_s.to_bool %>" />
</div>
