<form class="form-custom-link validate <%= submit ? "" : "panel-body" %>">
    <div class="alert alert-info">You can use root_url as main url.</div>
    <div class="form-group">
        <label><%= t('admin.menus.name_link')%></label>
        <input id="external_label" class="form-control translatable required" name="external_label" />
    </div>
    <div class="form-group">
        <label><%= t('admin.menus.link_url')%></label>
        <input id="external_url" class="form-control" name="external_url" />
    </div>
    <div class="text-right">
        <button type="submit" id="add_external_link" class="btn btn-primary"><%= t('admin.button.add_menu')%> <i class="fa fa-arrow-right"></i></button>
    </div>
</form>