<% object.the_fields(field_key).each do |value| p = current_site.the_posts.find(value).decorate rescue nil; next unless p.present? %>
    <a <%= attibutes["attrs"] %> href="<%= p.the_url %>"><%= p.the_title %></a>
<% end %>