<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><span class="fa fa-picture-o"></span> <%= t('admin.sidebar.media') %></h4>
    </div>
    <div class="panel-body">
      <div data-ng-app="FileManagerApp">
        <angular-filemanager></angular-filemanager>
      </div>
    </div>
  </div>
</div>

<script>
    angular.module('FileManagerApp').config(['fileManagerConfigProvider', function (config) {
        var defaults = config.$get();
        config.set({
            appName: 'camaleon-cms',
            listUrl: 'filemanager/handler',
            uploadUrl: 'filemanager/upload',
            renameUrl: 'filemanager/handler',
            copyUrl: 'filemanager/handler',
            removeUrl: 'filemanager/handler',
            editUrl: 'filemanager/handler',
            getContentUrl: 'filemanager/handler',
            createFolderUrl: 'filemanager/handler',
            downloadFileUrl: 'filemanager/download',
            compressUrl: 'filemanager/handler',
            extractUrl: 'filemanager/handler',
            permissionsUrl: 'filemanager/handler',
            tplPath: 'filemanager/templates',
            defaultViewTemplate: 'main-icons.html',
            allowedActions: angular.extend(defaults.allowedActions, {
                navbar: {
                    language: false
                }
            }),
            tableColumns: angular.extend(defaults.tableColumns, {
                date: false,
                permissions: false,
                size: false
            })
        });
    }]);
</script>