#menu_form{
  .panel-heading{
    overflow: hidden;
    label{
      width: auto; float:left;
      margin: 7px 2px 0 0;
    }
    input.menu-input-title{
      width: 32%; float:left; margin-left: 8px;
      margin-right: 8px;
    }
    input.menu-input-slug{
      width: 26%; float:left; margin-left: 8px;
    }
  }
  .panel-body{
    min-height: 250px;
    #nestable{
      .label{
        color: #333;
      }
    }
  }
}

