<div class="row">
    <div class="col-md-9">
        <ol class="breadcrumb">
            <%= raw  breadcrumb %>
        </ol>
    </div>
    <div class="col-md-3">
        <%= render partial: 'partials/search_form' %>
    </div>
</div>