<div class="pressroom">
    <div class="container">
        <%= render partial: 'partials/breadcrumb', locals: {breadcrumb: @category.the_breadcrumb } %>
        <%= render partial: "partials/list_items", locals:{posts: @posts} %>
    </div>
</div>