<div class="blog">
    <div class="container">
        <!-- Left Section Start -->
        <%= render partial: 'partials/breadcrumb', locals: {breadcrumb: @post.the_breadcrumb } %>
        <div class="row">
            <div class="col-md-12">
                <h3><%= @post.the_title %></h3>
                <div class="post-detail"><%= raw @post.the_content %></div>
            </div>
        </div>
    </div>
</div>