//************** mixins
@mixin link_round($radio: 30) {
  border: 1px solid #bbb;
  border-radius: 50%;
  color: #656d78;
  display: block;
  float: left;
  height: #{$radio}px;
  line-height: #{$radio - 3}px;
  margin-left: 3px;
  text-align: center;
  transition: all 200ms ease 0s;
  width: #{$radio}px;
}

//************** Main content
#admin_content {
  min-height: 400px;
  .panel {
    &.panel-toggled > .panel-body {
      display: none;
    }
    .panel-heading {
      //overflow: hidden;
      position: relative;
      .panel-controls {
        float: right;
        list-style: outside none none;
        position: absolute;
        right: 26px;
        top: 5px;
        li {
          float: left;
          a {
            @include link_round();
          }
        }
      }
      > .btn{
        position: absolute;
        right: 26px;
        top: 14px;
      }
    }
    .panel-footer {
      overflow: hidden;
    }

  }

  // label size
  .label.label-form {
    font-size: 12px;
    vertical-align: middle;
  }
  // reset label inputs
  label {
    input[type="radio"], input[type="checkbox"] {
      margin-right: 4px;
    }
  }
  // category lists
  .categorychecklist {
    padding-left: 10px;
    list-style: none;
    ul {
      padding-left: 25px;
      list-style: none;
    }
  }

  #form-post {
    .sl-slug-edit {
      margin-top: 4px;
    }
    .gallery-item-remove {
      position: absolute;
      margin-top: -22px;
    }
  }

  // widgets
  #content-widget .widgets-available .small-box {
    .inner {
      padding-top: 30px;
    }
    a {
      position: absolute;
      top: 4px;
      right: 5px;
      @include link_round(25);
      background: rgba(250, 250, 250, 0.4);
      &.edit_link {
        left: 5px;
        right: auto;
      }
    }
  }

  // pagination
  div.pagination {
    padding: 0;
    margin: 0;
    white-space: nowrap;
    & > * {
      background-color: #fafafa;
      border: 1px solid #ddd;
      color: #777;
      padding: 6px 12px;
      margin: 0 -2px;
    }
    em {
      background-color: #337ab7;
      border-color: #337ab7;
      color: #fff;
      cursor: default;
    }
    span {
      cursor: not-allowed;
    }
  }
  form {
    .form-group > .trans_panel{
      margin-top: -25px;
    }
  }
}

//************** sidebar left
#sidebar-menu{
  z-index: 2;
}

//************** reset modals
.modal, #admin_content {
  .btn_upload {
    cursor: pointer;
  }
  .input-append.date .input-group-addon {
    padding: 7px 0;
    width: 30px;
  }
  .input-group.color{
    .input-group-addon {
      background-color: #ccc;
    }
    .over_field + span{
      padding: 5px;
      position: absolute;
      right: 0;
      top: 0;
      width: 30px;
    }
  }

  // translations
  .trans_panel {
    .nav-tabs .has-error {
      color: #a94442;
    }
    .tab-pane .has-error {
      border: 1px solid #a94442;
    }
  }
  .trans_panel {
    //fix for multilanguage tabs
    //margin-top: -25px;
  }

  // custom fields render in forms
  .item-custom-field {
    margin-bottom: 15px;
    > label {
      display: block;
      .shortcode_field input{
        min-width: 250px;
      }
    }
    .actions{
      overflow: hidden;
      width: 67px;
      float: left;
      .fa {
        @include link_round;
      }
      & + .group-input-fields-content {
        margin-left: 75px;
      }
    }
  }
  .custom_sortable_grouped .header-field-grouped{
    padding: 5px;
    margin-bottom: 3px;
    .fa{
      @include link_round;
      display: inline-block;
      float: none;
    }
  }
}

//************** Main Header && intro js custom
#main-header{
  z-index: 4;
  &.introjs-fixParent{
    width: 100%;
    .navbar {
      width: 100%;
    }
  }
  .logo img {
    max-width: 100%;
    max-height: 100%;
  }
}

//************** fix tinymce fullscreen
div.mce-fullscreen{
  z-index: 10;
}

// .mce-window {
//   .mce-container.mce-abs-layout-item.mce-formitem {
 
//     .mce-widget.mce-label.mce-abs-layout-item.mce-first {
//       color: red;
//       position: relative;
//       top: auto !important;
//       left: auto !important;
//       & + .mce-tinymce {
//         margin: 1rem 0 0;
//       }
//     }
//   }
// }

// .mce-tinymce.mce-container.mce-panel + textarea {
//   display: none;
// }
//mce-container mce-panel mce-floatpanel mce-window mce-scroll mce-in
.mce-window.mce-floatpanel {

}

// .mce-container.mce-abs-layout-item.mce-formitem {
//   top: auto !important;
//   left: auto !important;
//   padding: 1rem 2rem 1rem 1.5rem;
//   position: relative;
  
//   .mce-container-body.mce-abs-layout {
//     overflow: auto;
//     display: inline-block;
//   }

//   .mce-abs-layout-item {
//     top: auto !important;
//     left: auto !important;
//     position: relative;
//   }
// }



.mce-formitem {
  .mce-tinymce {
    width: 99% !important;
    margin: 0 0 1rem;

    .mce-statusbar {
      margin: -6px 0 0px;
    }
  }
}

.mce-label {
  &.mce-related-required {
    &::after {
      content: "*";
      color: #a94442;
      font-size: 2rem;
    }
  }
}

.mce-tinymce-container {
  height: auto !important;
  .mce-label {
    height: auto !important;
    top: auto !important;
    left: auto !important;
    margin: 0 0 1rem;
    position: relative;
  }
}

.mce-statusbar {
  
  .mce-label {
    margin: 0 1rem 0 0;
    &::after {
      display: none;
    }
    &.mce-branding {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
    }
    &.mce-last {
      margin: 0;
    }
  }
}

#tab-information {
  .admin_logo_upload {
    a img {
      border-radius: 0;
      box-shadow: none;
      border: 1px solid #d2d6de;
      padding: 8px;
      margin: 10px 10px 0 0;
    }
  }
}

//************** custom loading style
#cama_custom_loading{
  position: relative;
  z-index: 999999;
  .back_spinner{
    position: fixed;
    z-index: 99998;
    width: 100%;
    top: 0px;
    height: 100%;
    background-color: #2D95BF;
    background-color: rgba(60, 141, 188, 0.2);
  }
  .loader_spinner{
    z-index: 99999;
    position: fixed;
    left: 50%;
    margin-left: -35px;
    margin-top: -35px;
    top: 50%;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background: image_url("camaleon_cms/admin/admin_spinner.gif") no-repeat center center #2D95BF;
  }
}

// copy paste code style
input.code_style{
  background-color: #f9f2f4;
  border-radius: 4px;
  color: #c7254e;
  font-size: 90%;
  padding: 2px 4px;
  font-weight: normal;
  border: none;
}

// fix tab content padding
.tab-content > .tab-pane{
  padding-top: 5px;
}
.content-upload-plugin{
  min-height: 45px;
  position: relative;
  .rm-file{
    position: absolute;
    top: 100%;
    margin-top: -22px;
  }
  img{
    max-height: 100px;
    max-width: 200px;
  }
}
label.error, span.error{
  color: #a94442;
  font-size: 11px;
}


// Custom Fields: Add styles for Component Blocks
@mixin panel-styles($color) {
  background: $color;
  .custom_sortable_grouped {
    border-bottom: 5px solid #707883;
    padding: 1rem;
    margin: 0 0 2rem;
  }
  .bg-info {
    background: $color;
  }
}
@mixin block-color($color,$title) {
  background: $color;
  .bg-info {
    background: $color;
    &::before {
      content: $title;
      position: absolute;
      left: 0;
      font-weight: bold;
    }
  }
}

$white: #ffffff;
$bg-masthead: #f5f8ff;
$bg-related-news: #eaeaea;
$bg-faqs: #fdf3f3;
$bg-accordion: #fff3f3;
$bg-testimonials: #e9f9e2;
$bg-information-cards: #e5f5ff; 
$bg-logo-parade: #e8e8fd;
$bg-cards: #e3e7f3;
$bg-cards-2: #edf1fb;
$bg-contact-card: #fdf7ef; 
$bg-callout: #fffbef; 
$bg-video: #e8deea;
$bg-leadership-summary: #ebf9f6;
$bg-text-block: #f7f7f7;
$bg-billboard: #222B5A;

.panel {

  &.c-field-group {
    @include panel-styles(#ffffff);
    &#custom_field_group_49 { // accordion
      @include panel-styles($bg-accordion);
    }
    &#custom_field_group_52 { // testimonials
      @include panel-styles($bg-testimonials);
    }
    &#custom_field_group_67 { // information_cards
      @include panel-styles($bg-information-cards);
    }
    &#custom_field_group_75 { // logo_parade
      @include panel-styles($bg-logo-parade);
    }
    &#custom_field_group_79 { // cards
      @include panel-styles($bg-cards);
    }
    &#custom_field_group_96 { // cards
      @include panel-styles($bg-cards-2);
    }
  }
}
.custom_sortable_grouped {
  .header-field-grouped {
    position: relative;
  }
  [data-field-key='component-type'] select {
    border: 1px solid #707883;
  }

  [data-field-key='component-sub-header'],
  [data-field-key='component-text'],
  [data-field-key='component-image'],
  [data-field-key='component-image-alt'],
  [data-field-key='component-link'],
  [data-field-key='component-link-text'],
  [data-field-key='component-link-target'],
  [data-field-key='component-link-dark'],
  [data-field-key='component-position'],
  [data-field-key='section-color'],
  [data-field-key='component-section-id'],
  [data-field-key='component-video-url-iframe'],
  [data-field-key='component-card-type'],
  [data-field-key='component-card-columns'],
  [data-field-key='component-contact-email'],
  [data-field-key='component-contact-phone'],
  [data-field-key='component-contact-ext'] {
    display: none;
  }

  &.masthead {
    @include block-color($bg-masthead,"Masthead");

    [data-field-key='component-text'],
    [data-field-key='component-image'],
    [data-field-key='component-position'] {
      display: block;
    }

  }

  &.information_cards {
    @include block-color($bg-information-cards,"Information Cards");
  }
  &.testimonials{
    @include block-color($bg-testimonials,"Testimonials");
  }

  &.related_news {
    @include block-color($bg-related-news,"Related News");
  }
  &.cards,
  &.cards-1 {
    @include block-color($bg-cards,"Cards (Group 1)");
    [data-field-key='component-card-type'],
    [data-field-key='component-card-columns'],
    [data-field-key='section-color'] {
      display: block;
    }
  }
  &.cards-2 {
    @include block-color($bg-cards,"Cards (Group 1)");
    [data-field-key='component-card-type'],
    [data-field-key='component-card-columns'],
    [data-field-key='section-color'] {
      display: block;
    }
  }
  &.callout_fullwidth_profile {
    @include block-color($bg-contact-card,"Contact Card");
    [data-field-key='component-sub-header'],
    [data-field-key='component-text'],
    [data-field-key='component-image'],
    [data-field-key='component-link'],
    [data-field-key='component-link-text'],
    [data-field-key='component-link-target'],
    [data-field-key='component-link-dark'],
    [data-field-key='component-contact-email'],
    [data-field-key='component-contact-phone'],
    [data-field-key='component-contact-ext'] {
      display: block;
    }
  }

  &.accordion {
    @include block-color($bg-accordion,"Accordion");
    [data-field-key='component-link'],
    [data-field-key='component-link-text'],
    [data-field-key='component-link-target'],
    [data-field-key='component-link-dark'] {
      display: block;
    }
  }
  &.leadership_summary {
    @include block-color($bg-leadership-summary,"Leadership Summary");
    [data-field-key='component-link'],
    [data-field-key='component-link-text'],
    [data-field-key='component-link-target'],
    [data-field-key='component-link-dark'] {
      display: block;
    }
  }
  &.logo_parade {
    @include block-color($bg-logo-parade,"Logo Parade");
    [data-field-key='component-link'],
    [data-field-key='component-link-text'],
    [data-field-key='component-link-target'],
    [data-field-key='component-link-dark'] {
      display: block;
    }
  }

  &.text_block {
    @include block-color($bg-text-block,"Text Block");
    [data-field-key='component-text'],
    [data-field-key='component-link'],
    [data-field-key='component-link-text'],
    [data-field-key='component-link-target'],
    [data-field-key='component-link-dark'],
    [data-field-key='section-color'] {
      display: block;
    }
  }

  &.callout_image_right,
  &.callout_image_left {
    @include block-color($bg-callout,"Calloute");
    [data-field-key='component-sub-header'],
    [data-field-key='component-text'],
    [data-field-key='component-image'],
    [data-field-key='component-link'],
    [data-field-key='component-link-text'],
    [data-field-key='component-link-target'],
    [data-field-key='component-link-dark'],
    [data-field-key='section-color'] {
      display: block;
    }
  }
  &.callout_video {
    @include block-color($bg-video,"Video Callout");
    [data-field-key='component-text'],
    [data-field-key='component-image'],
    [data-field-key='component-link'],
    [data-field-key='component-link-text'],
    [data-field-key='component-link-target'],
    [data-field-key='component-link-dark'],
    [data-field-key='component-position'],
    [data-field-key='section-color'],
    [data-field-key='component-section-id'],
    [data-field-key='component-video-url-iframe'] {
      display: none;
    }
  }
  
  &.billboard {
    @include block-color($bg-billboard,"Billboard");
    .bg-info {
      color: $white;
    }
    [data-field-key='component-text'],
    [data-field-key='component-link'],
    [data-field-key='component-link-text'],
    [data-field-key='component-link-target'],
    [data-field-key='component-link-dark'],
    [data-field-key='section-color'] {
      display: block;
    }
  }
}

// Error message validation
.mce-container {

  
  .mce-required {
    .mce-label::after {
      content: "*";
      color: #a94442;
      font-size: 2rem;
    }
    
  }
  span.mce-required::after {
    content: "*";
    color: #a94442;
    font-size: 2rem;
  }
  .mce-error {
    input {
      background: #fff1f3;
      border: 1px solid #ebccd1;
    }
    .mce-tinymce {
      border: 1px solid #ebccd1;
      .mce-edit-area {
        background: #f97876;
        iframe {
          opacity: .9;
        }
      }
    }
    &.mce-filepicker {
      input {
        background: #fff1f3;
        border: 0;
        border-bottom: 1px solid #ebccd1;
      }
      .mce-btn {
        border: 0;
        border-left: 1px solid #ebccd1;
        background: #eed2d7;
      }
    }
  }
}



// Shortcode Menu 
.mce-menu-item {
  &.mce-disabled {
    &, &.mce-active {
      background: #f9f9f9 !important;
      opacity: .4;

      .mce-text {
        color: #898989 !important;
        font-weight: bold;
      }
      
    }

  }

}


// Drop Down Menu Styles
.type-selector {
  .mce-container.mce-floatpanel.mce-menu.mce-fixed {
    overflow: visible;
  
    .mce-stack-layout {
      display: flex;
      flex-flow: row wrap;
      
      .mce-stack-layout-item {
        padding: 1rem 1rem 1rem 0.75rem;
        width: auto;
      }
    }
  }
  .mce-menu-item {
    &.mce-disabled {
      &, &.mce-active {
        background: #f9f9f9 !important;
        border-top: 2px solid #dcdcdc;
        border-bottom: 2px solid #dcdcdc;
        width: 100% !important;
        padding: 0 !important;
        opacity: 1;
  
        .mce-text {
          color: #898989 !important;
          font-weight: bold;
        }
        
      }
  
    }
  
  }
}
