#content-widget{
  .card-widget{
    cursor: move;
    &, *{ color: #fff; }

    .shortcode{
      cursor: default;
      width: 100%;
    }
  }
}
#content-sidebar{
  .sidebar-body{
    min-height:150px;
    .card:hover{
      cursor: move;
    }
  }
  form{
    overflow: hidden;
  }
}
