<div class="flash_messages">
    <div class="alert alert-info text-left">
        <ul>
            <li>In menus create your item and add #features as the url for features section</li>
            <li>In menus create your item and add #contact as the url for contact form section</li>
            <li>In menus create your item and add #home as the url for main slider section</li>
            <li>In menus create your item and add #team as the url for team section</li>
        </ul>
    </div>
</div>
<%= render partial: "admin/settings/custom_fields/render", locals: {record: current_theme, field_groups: current_theme.get_field_groups, fields_name: "theme_fields"} %>