<% admin_menu_draw %>
<!-- Content Header (Page header) -->
<section class="content-header">
    <ol class="breadcrumb">
        <%= raw admin_breadcrumb_draw() %>
    </ol>
</section>
<%= cama_draw_custom_assets %>
<%= yield %>