<footer class="main-footer" id="main-footer">
    <div class="row">
        <div class="col-md-6"><strong>Copyright &copy; 2015-2016 <a href="http://camaleon.tuzitio.com">Camaleon CMS.</a> </strong></div>
        <div class="col-md-6 hidden-xs">
            <div class="pull-left">
                <a id="link_see_intro" href="#" onclick="init_intro(); return false;"><i class="fa fa-tv"></i> <%= I18n.t('camaleon_cms.see_intro') %>.</a>
            </div>
            <div class="pull-right">
                <b>Version </b><%= CamaleonCms::VERSION %>
            </div>
        </div>
    </div>
</footer>
