<%= form_tag(search_path, :method => "get", :class => "form-search form-horizontal") do %>

    <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <div class="input-group-btn">
            <button type="submit" class="btn"><i class="fa fa-search"></i></button>
        </div>
    </div>
<% end %>

