<form class="menus_field_form required">
    <%= render partial: "camaleon_cms/camaleon_cms/admin/settings/custom_fields/render", locals: {record: @nav_menu, field_groups: @nav_menu.get_field_groups()} %>
    <div class="text-right">
        <button class="btn btn-primary" type="submit"><%= t("camaleon_cms.admin.button.submit") %> <i class="fa fa-arrow-right"></i></button>
    </div>
</form>