<div class="page-title">
    <h2><%= t('camaleon_cms.admin.menus.menus', default: 'Menus') %></h2>
</div>
<div class="page-content-wrap">
    <div class="row">
        <div id="menu_content">
            <div id="menu_items" class="col-md-5">
                <%= render "menu_options" %>
                <%= render('left_menu_items') if @nav_menu.present? %>
            </div>
            <%= render("menu_items_list") if @nav_menu.present? %>
        </div>
    </div>
</div>
