::-moz-selection {
	background:#00CFEF;
	color:#fff;
}
::selection{
	background:#00CFEF;
	color:#fff;	
}
.navbar-default .navbar-nav  .active > a,
.navbar-default .navbar-nav  a:hover,
.navbar-default .navbar-nav  .current-menu-ancestor > a,
.navbar-default .navbar-nav  .active > a:hover,
.navbar-default .navbar-nav  .active > a:focus {
  color: #00cfef !important;

}
h1.light{
  color: #00cfef !important;
}
.about i{
	background:#00cfef;
}
.hovicon.effect-1.sub-a:hover {
	background: #00cfef;
}
.hovicon.effect-1 {
	background: #00cfef;
}
.hovicon.effect-1:after {
	box-shadow: 0 0 0 4px #00cfef;
}
.team .col-md-4 .team-image-sec .img-overlay, .entry .overlay{ background:rgba(96, 202, 232, 0.83);}
.team .col-md-4 .team-image-sec li a{ color:#60cae8;}
.team-detail-sec h3{ color:#00CFEF}
#filters ul li a:hover h3, #filters ul li a.active h3 {
	background-color:#00cfef;
	border: 1px solid #009db5;
}
.da-thumbs li  article {
	background:rgba(96, 202, 232, 0.83);
}
.testimonials .fa-twitter{
	color: #00cfef;
}
.testimonials span{
	color:#00cfef ;
}
.pricing .price span{
	color:#00cfef;
}
.pricing .table.blue-table{
	background:#00cfef;
}
.pricing .table a:hover{
	background:#00cfef;
	color:#fff !important;
}
.sponsors h1.sponsor{
	color:#00cfef !important;
}
.pressroom .left-text span.title{
	color:#00cfef;
}
.pressroom .left-text a{
	color:#00cfef;
}
.pressroom .right-text span.title{
	color:#00cfef;
}
.pressroom .right-text a{
	color:#00cfef;
}
.contact .form{
	background: bottom no-repeat #ffffff;
	border-top:solid 2px #00cfef;
}
.submit_btn {
	background:#00cfef;
}
footer{
	border-top:solid 10px #00cfef;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #00cfef;
}
.skill-bar-percent {
	background:#00cfef;
}
.QLoader {
	background-color: #00CFEF;
}
.skillbar-bar{ background:#00cfef;}
.picker-off i { color:#00cfef;}
.caption.big_blue{color: #00cfef;}
.button:hover{ border-color:#00cfef !important;}
.team-sec h4 {
color: #00cfef !important;
}
.social-icons a:hover{
	background:#00cfef;
}
.team-sec.dark-bg{
	background:#00cfef;
}
.team-sec.dark-bg h4 {
color: #fff !important;
}
.team-sec.dark-bg a{
	background:#fff !important;
}
.team-sec.dark-bg i{
	color:#333;
}
.team-sec.dark-bg a:hover i{
	color:#00cfef !important;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  border-bottom: solid 3px #00cfef !important;  
}
.navbar-default .navbar-nav > li > a:hover{
color: #00cfef !important;
border-bottom: solid 3px #00cfef !important;
}
}


.blog .tags a:hover{
	border:solid 1px #00cfef;
	color:#00cfef;
}
.blog a.comment{
	color:#00cfef;
}
.blog .comments a.date{
	margin: 5px 0 0 16px;
	float: left;
	color:#00cfef;
}
.blog .comments a{
	color:#00cfef;
}
.blog .comment-form input[type=submit]{
	background: #00cfef;
}
.blog .recent-post .post a{
	color:#07ceee;
}
.blog .archive a{
	color: #07ceee;
}