#contact_form input{
	background:#edebec;
	width:100%;
	height:42px;
	margin:0 0 20px 0;
	padding:0px 10px;
	border-radius:0px;
	color:#000000;
	font-size:16px;
	font-weight:normal;
	border: 1px solid #DBDBDB;
	text-align: center;
}
#contact_form textarea{
	border: 1px solid #DBDBDB;
	background:#edebec;
	width:100%;
	height:170px;
	padding:10px 10px;
	text-align: center;
	border-radius:0px;
	color:#000000;
	font-size:16px;
	font-weight:normal;
}
.submit_btn {
	border:none;
	padding:9px 30px;
	color:#fff;
	 /*left:39%;*/
	 float:left;
	margin: -34px 0 0 0;
	z-index: 2;
	position: relative;
	font-size:18px;
	text-transform:uppercase;
	font-weight:normal;
	transition: .4s cubic-bezier(0.15,.46,.45,.94);
	-webkit-transition: .4s cubic-bezier(0.25,.46,.45,.94);
	-moz-transition: .4s cubic-bezier(0.25,.46,.45,.94);
}
.submit_btn:hover {
	background:#636363;
	color:#fff;
}
.success{
	background: #CFFFF5;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #B9ECCE;
	border-radius: 5px;
	color:#000;
	font-weight: normal;
}
.error{
	background: #FFDFDF;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #FFCACA;
	color:#000;
	border-radius: 5px;
	font-weight: normal;
}
