::-moz-selection {
	background:#BED431;
}
::selection{
	background:#BED431;
}
.navbar-default .navbar-nav  .active > a,
.navbar-default .navbar-nav  a:hover,
.navbar-default .navbar-nav  .current-menu-ancestor > a,
.navbar-default .navbar-nav  .active > a:hover,
.navbar-default .navbar-nav  .active > a:focus {
  color: #BED431 !important;

}
h1.light{
  color: #BED431 !important;
}
.about i{
	background:#BED431;
}
.hovicon.effect-1.sub-a:hover {
	background: #BED431;
}
.hovicon.effect-1 {
	background: #BED431;
}
.hovicon.effect-1:after {
	box-shadow: 0 0 0 4px #BED431;
}
.team .col-md-4 .team-image-sec .img-overlay, .entry .overlay{ background:rgba(190, 212, 49, 0.78);}
.team .col-md-4 .team-image-sec li a{ color:#BED431;}
.team-detail-sec h3{ color:#BED431}
#filters ul li a:hover h3, #filters ul li a.active h3 {
	background-color:#BED431;
	border: 1px solid #a9be21;
}
.da-thumbs li  article {
	background:rgba(190, 212, 49, 0.78);
}
.testimonials .fa-twitter{
	color: #BED431;
}
.testimonials span{
	color:#BED431 ;
}
.pricing .price span{
	color:#BED431;
}
.pricing .table.blue-table{
	background:#BED431;
}
.pricing .table a:hover{
	background:#BED431;
	color:#fff !important;
}
.sponsors h1.sponsor{
	color:#BED431 !important;
}
.pressroom .left-text span.title{
	color:#BED431;
}
.pressroom .left-text a{
	color:#BED431;
}
.pressroom .right-text span.title{
	color:#BED431;
}
.pressroom .right-text a{
	color:#BED431;
}
.contact .form{
	background:  bottom no-repeat #ffffff;
	border-top:solid 2px #BED431;
}
.submit_btn {
	background:#BED431;
}
footer{
	border-top:solid 10px #BED431;
}
.navbar-default .navbar-nav > li > a:hover{
  color: #BED431;
}
.skill-bar-percent {
	background:#BED431;
}
.QLoader {
	background-color: #BED431;
}
.skillbar-bar{ background:#BED431;}
.picker-off i { color:#BED431;}
.caption.big_blue{color: #BED431;}
.button:hover{ border-color:#BED431 !important;}
.fancybox-overlay {
	background: rgba(190, 212, 49, 0.78) !important;
}

.team-sec h4 {
color: #BED431 !important;
}
.social-icons a:hover{
	background:#BED431;
}
.team-sec.dark-bg{
	background:#BED431;
}
.team-sec.dark-bg h4 {
color: #fff !important;
}
.team-sec.dark-bg a{
	background:#fff !important;
}
.team-sec.dark-bg i{
	color:#333;
}
.team-sec.dark-bg a:hover i{
	color:#BED431 !important;
}
@media (max-width: 767px) {
	.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  border-bottom: solid 3px #BED431 !important;  
}
.navbar-default .navbar-nav > li > a:hover{
color: #BED431 !important;
border-bottom: solid 3px #BED431 !important;
}
}



.blog .tags a:hover{
	border:solid 1px #BED431;
	color:#BED431;
}
.blog a.comment{
	color:#BED431;
}
.blog .comments a.date{
	color:#BED431;
}
.blog .comments a{
	color:#BED431;
}
.blog .comment-form input[type=submit]{
	background: #BED431;
}
.blog .recent-post .post a{
	color:#BED431;
}
.blog .archive a{
	color: #BED431;
}