* {margin: 0; padding: 0; outline: 0;}


body {

	
}


.menuBtn {

	background: center center no-repeat transparent;
	background: #000;
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 10px;

}


.active {

}
.sTop {

	color:#3d3d3d;
	
}

.clear {
	clear: both;
}
.wrap {
		/*background:url("http://www.live147.com/html/wavex/images/bg.png") top left repeat-x;*/
		width: 100%;
		z-index: 10;
		position: relative;
		margin: 0 auto;
		padding: 0;

}

.sTop {
	
}

.section {
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0 0 0 0;
}


.inner {
	width: 960px;
	margin: 0 auto;
	position: relative;
	min-height: 50px;
	padding:30px 0;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding:30px 0;
}


/* This is the selector i used for my menu, it needs to be set as position:absolute; */




/*.teansparent{ background:rgba(255, 255, 255, 0.9) !important}*/

.subMenu {
	position: absolute;
	top: 462px;
	height: 64px;
	z-index: 1000;
	width: 100%;
	box-shadow: 0 0px 5px #999;
	background: #fff;

}
.header-arrow{
position: absolute;
z-index: 1000;
text-align: center;
left: 50%;
margin-left: -10px;
top: 96px;

}
.subMenu .inner {
	padding:0;
	font-weight: 400;
}





.subNavBtn {
	display: block;
	/* height: 35px; */
	
	float: left;
	margin: 0px 0px 0 0;
	text-decoration: none;
	font-size: 14px;
	/*padding: 15px 2% 0 2%;*/
	text-align: center;
	color: #fff;
}

.end {
	margin: 0;
}


/* SECTIONS */


.s1 {
	min-height: 0px;
	padding: 0px 0 0 0;

}
.s2 {
	min-height: 0px;
}


.s3 {
	min-height: 0px;

}


.s4 {
	min-height: 0px;

}

.s5 {
	min-height: 0px;
}
.s6 {
	min-height: 0px;
}





