::-moz-selection {
	background:#E21E25;
}
::selection{
	background:#E21E25;
}
.navbar-default .navbar-nav  .active > a,
.navbar-default .navbar-nav  a:hover,
.navbar-default .navbar-nav  .current-menu-ancestor > a,
.navbar-default .navbar-nav  .active > a:hover,
.navbar-default .navbar-nav  .active > a:focus {
  color: #E21E25 !important;

}
h1.light{
  color: #E21E25 !important;
}
.about i{
	background:#E21E25;
}
.hovicon.effect-1.sub-a:hover {
	background: #E21E25;
}
.hovicon.effect-1 {
	background: #E21E25;
}
.hovicon.effect-1:after {
	box-shadow: 0 0 0 4px #E21E25;
}
.team .col-md-4 .team-image-sec .img-overlay, .entry .overlay{ background:rgba(226, 30, 37, 0.81);}
.team .col-md-4 .team-image-sec li a{ color:#E21E25;}
.team-detail-sec h3{ color:#E21E25}
#filters ul li a:hover h3, #filters ul li a.active h3 {
	background-color:#E21E25;
	border: 1px solid #cb171e;
}
.da-thumbs li  article {
	background:rgba(226, 30, 37, 0.81);
}
.testimonials .fa-twitter{
	color: #E21E25;
}
.testimonials span{
	color:#E21E25 ;
}
.pricing .price span{
	color:#E21E25;
}
.pricing .table.blue-table{
	background:#E21E25;
}
.pricing .table a:hover{
	background:#E21E25;
	color:#fff !important;
}
.sponsors h1.sponsor{
	color:#E21E25 !important;
	
}
.pressroom .left-text span.title{
	color:#E21E25;
}
.pressroom .left-text a{
	color:#E21E25;
}
.pressroom .right-text span.title{
	color:#E21E25;
}
.pressroom .right-text a{
	color:#E21E25;
}
.contact .form{
	background:  bottom no-repeat #ffffff;
	border-top:solid 2px #E21E25;
}
.submit_btn {
	background:#E21E25;
}
footer{
	border-top:solid 10px #E21E25;
}
.navbar-default .navbar-nav > li > a:hover{
  color: #E21E25;
}
.skill-bar-percent {
	background:#E21E25;
}
.QLoader {
	background-color: #E21E25;
}
.skillbar-bar{ background:#cf1118;}
.picker-off i { color:#cf1118;}
.caption.big_blue{color: #cf1118;}
.button:hover{ border-color:#E21E25 !important;}
.fancybox-overlay {
	background: rgba(226, 30, 37, 0.81) !important;
}
.team-sec h4 {
color: #E21E25 !important;
}
.social-icons a:hover{
	background:#E21E25;
}
.team-sec.dark-bg{
	background:#E21E25;
}
.team-sec.dark-bg h4 {
color: #fff !important;
}
.team-sec.dark-bg a{
	background:#fff !important;
}
.team-sec.dark-bg i{
	color:#333;
}
.team-sec.dark-bg a:hover i{
	color:#E21E25 !important;
}
@media (max-width: 767px) {
	.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  border-bottom: solid 3px #E21E25 !important;    
}
.navbar-default .navbar-nav > li > a:hover{
color: #E21E25 !important;
border-bottom: solid 3px #E21E25 !important;
}
}


.blog .tags a:hover{
	border:solid 1px #E21E25;
	color:#E21E25;
}
.blog a.comment{
	color:#E21E25;
}
.blog .comments a.date{
	color:#E21E25;
}
.blog .comments a{
	color:#E21E25;
}
.blog .comment-form input[type=submit]{
	background: #E21E25;
}
.blog .recent-post .post a{
	color:#E21E25;
}
.blog .archive a{
	color: #E21E25;
}