.skdslider{
 width:100%;
 position: relative;
 display: block;
 overflow:hidden;
}

.skdslider:after {
    content: '';
    padding-top: 50%; 
    display: block;
}
#demo1{
	text-align:center !important;
}
.skdslider ul.slides{ margin:0; padding:0; list-style-type:none;}
.skdslider ul.slides li
{
   display: none;
}
.skdslider ul.slides li img{
    width: 100%;
	height:100%;
	border:0;
}

.skdslider ul.slide-navs {
    bottom: 20px;
    left: 50%;
    position: absolute;
	list-style-type: none;
    margin: 0;
    padding: 0;
}


.skdslider ul.slide-navs li {
    float: left;

	height:0px;
	width:0px;
	margin-right:4px;
	cursor:pointer;
}
.skdslider ul.slide-navs li.current-slide {

}

.skdslider .slide-desc {
 	bottom: 45%;
    display: inline-block;
    left: 0;
    max-width: 100%;
    padding: 0 15px;
    position: absolute;
    width: 100%;
}
.skdslider .slide-desc .creative {
    font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 60px;
display: block;
text-transform: uppercase;
margin: -10px 0 0 0;
color:#fff;
}

.skdslider .slide-desc .small-text{
 font-family: 'Raleway', sans-serif;
font-weight: 400;
font-size: 14px;
display: block;
margin: -10px 0 0 30px !important;
color:#fff;
}
.skdslider .slide-desc .creative1{
	margin:0px 0 0 0;
}
.skdslider .slide-desc .creative2{
	color:#444444;
	margin: 0 0 0 12px;
}
.skdslider .slide-desc .creative3{
	margin:0px 0 0 12px;
}
.skdslider .slide-desc .small-text2{
	color:#444444;
}

.skdslider .slide-desc > p a.more {
    color:#990000;
	font-size:20px;
	text-decoration:none;
}
.skdslider .slide-desc > p a.more:hover {
text-decoration:underline;
}

.skdslider a.prev{
    background: url("../images/left.png") no-repeat scroll 0 0 transparent;
	width:35px;
	height:35px;
	display:block;
	cursor:pointer;
	position:absolute;
	top:50%;
	left:7%;
	margin-top:-17px;
}

.skdslider a.next{
    background: url("../images/right.png") no-repeat scroll 0 0 transparent;
	width:35px;
	height:35px;
	display:block;
	cursor:pointer;
	position:absolute;
	top:50%;
	right:7%;
	margin-top:-17px;
}
.skdslider a.prev:hover{
  
}
.skdslider a.next:hover{
  
}

.skdslider a.play{
    background: url("../images/play.png") no-repeat scroll center center transparent;
	width:35px;
	height:35px;
	display:none;
	cursor:pointer;
	position:absolute;
	top:92%;
	left:50%;
	margin-top:-17px;
}

.skdslider a.pause{
    background: url("../images/pause.png") no-repeat scroll center center transparent;
	width:35px;
	height:35px;
	display:none;
	cursor:pointer;
	position:absolute;
	top:92%;
	left:50%;
	margin-top:-17px;
}
/*Some Responsive CSS */
@media screen and (max-width:767px) {
	.skdslider .slide-desc > h2 {
		font-size: 20px;
		margin-bottom: 5px;
		margin-top: 5px;
	}
	
	.skdslider .slide-desc > p {
		font-size: 14px;
		line-height: 15px;
		margin-top: 5px;
	}
	.skdslider .slide-desc > p a.more {
		font-size:14px;
	}
}